/* Media Queries */

/* 태블릿 디바이스 (~ 1024px) */
@media screen and (max-width: 1024px) {
  #content-sandbox {
    max-width: 100%;
    margin: 0 20px;
  }
  .responsive-dp-direction-row-1024 {
    flex-direction: column;
  }

  .responsive-dp-direction-column-1024 {
    flex-direction: row;
  }
}

/* 태블릿 디바이스 (~ 768px) */
@media screen and (max-width: 768px) {
  p,
  span,
  strong,
  div,
  td,
  th {
    font-size: 16px;
  }

  h3 > span {
    font-size: 17px;
  }

  #content-sandbox {
    margin: 0 14px;
  }
  .icon-mic > p > i,
  .icon-point > p > i,
  .icon-settings > p > i,
  .icon-pen > p > i {
    font-size: 22px;
  }

  .icon-point > i {
    font-size: 26px;
  }

  .icon-dots > i {
    font-size: 26px;
  }

  .lesson-title-description {
    font-size: 16px;
    padding-left: 12px;
  }

  .lesson-title-inner-box {
    padding: 10px;
  }

  .dp-grid-cols-22-1fr-responsive-768 {
    grid-template-columns: 1fr;
  }

  .responsive-dp-direction-row-768 {
    flex-direction: column;
  }

  .responsive-dp-direction-row-reverse-768 {
    flex-direction: column-reverse;
  }

  .responsive-dp-direction-column-768 {
    flex-direction: row;
  }

  .responsive-dp-direction-column-reverse-768 {
    flex-direction: row-reverse;
  }

  .grid-row.grid-row-1fr-1fr.responsive-grid-row-1fr-1fr-768 {
    grid-template-columns: 1fr;
  }
  .grid-row-1fr-1fr-1fr.responsive-grid-row-1fr-1fr-1fr-768 {
    grid-template-columns: 1fr;
  }

  .grid-row-22px-1fr-1fr.responsive-grid-row-22px-1fr-1fr-768 {
    grid-template-columns: 1fr;
  }

  .grid-row.grid-row-22px-1fr.responsive-grid-row-22px-1fr-768 {
    grid-template-columns: 1fr;
  }

  .grid-row.grid-row-34px-1fr.responsive-grid-row-34px-1fr-768 {
    grid-template-columns: 1fr;
  }

  .mgb-00-responsive-768 {
    margin-bottom: 0;
  }

  .mgb-05-responsive-768 {
    margin-bottom: 5px;
  }

  .mgb-10-responsive-768 {
    margin-bottom: 10px;
  }

  .mgb-20-responsive-768 {
    margin-bottom: 20px;
  }

  .mgb-30-responsive-768 {
    margin-bottom: 30px;
  }

  .mgb-40-responsive-768 {
    margin-bottom: 40px;
  }

  .mgb-50-responsive-768 {
    margin-bottom: 50px;
  }

  .mgt-00-responsive-768 {
    margin-top: 0;
  }
  .mgt-10-responsive-768 {
    margin-top: 10px;
  }

  .mgt-20-responsive-768 {
    margin-top: 20px;
  }

  .dp-align-items-start-responsive-768 {
    align-items: flex-start;
  }

  .border-right-none-responsive-768 {
    border-right: none;
  }

  /* padding */
  .pd-20 {
    padding: 14px;
  }

  .pd-00-responsive-768 {
    padding: 0;
  }

  .speech-content {
    padding: 8px;
  }

  .step-title-box {
    font-size: 16px;
  }

  .useful-expressions .useful-expressions-div {
    flex-direction: column;
  }

  .useful-expressions .useful-expressions-div > div:first-child {
    border-right: none;
    padding-right: 0;
  }

  /* 공통 반응형 스타일 */
  .lesson-title-text {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }

  .title-main {
    font-size: 18px;
    display: inline-flex;
    padding: 10px 14px;
  }

  .title-sub {
    font-size: 15px;
    padding: 10px;
  }

  .icon-txt-round {
    font-size: 14px;
    padding: 4px 10px 6px;
  }
  .icon-txt-normal {
    font-size: 14px;
    padding: 4px 10px 6px;
  }

  .toons-caption {
    padding: 10px;
    font-size: 16px;
  }

  .responsive-br-768 {
    display: none;
  }

  /* TOC 모바일 스타일 */
  .toc-container {
    padding: 8px;
  }

  .toc-wrapper {
    flex-direction: column;
    gap: 10px;
  }

  .toc-wrapper.responsive-row-gap-00-768 {
    row-gap: 0;
  }

  .toc-section-title {
    width: 100%;
    font-size: 16px;
    padding: 8px;
  }

  .toc-content {
    padding: 8px;
  }

  .toc-pattern-list {
    gap: 8px;
  }

  .toc-pattern-item {
    flex-direction: column;
    gap: 5px;
    padding: 3px;
  }

  .toc-pattern-korean,
  .toc-pattern-english {
    min-width: 100%;
    font-size: 14px;
  }

  .toc-section-title.ta-l {
    text-align: center;
  }

  /* 문법 테이블 스타일 */
  .pattern-content-wrapper {
    flex-direction: column;
  }
  .pattern-left-box,
  .pattern-right-box {
    width: 100%;
  }

  .pattern-right-box > div:first-child {
    border-top: 2px solid #c5a47e;
  }

  .pattern-content-wrapper > div:not(:last-child) {
    border-right: none;
  }

  .pattern-right-box > div:first-child.border-top-dotted {
    border-top: 2px dotted #c5a47e;
  }

  /* pattern-cell */
  .pattern-cell {
    padding: 14px;
  }

  /* note-box */
  .note-box {
    padding: 14px;
  }
  .note-box-content {
    flex-direction: column;
  }

  /* 번호 이미지 텍스트 스타일 */
  .numbered-image {
    flex-direction: column;
  }

  .img-area-box {
    width: 100%;
    padding: 6px;
  }

  .numbered-image__image {
    gap: 5px;
  }

  .numbered-image__content {
    row-gap: 20px;
  }

  .numbered-image__content.responsive-gap-10 {
    row-gap: 10px;
  }

  .numbered-image__content > div {
    flex-direction: column;
    row-gap: 6px;
  }

  .img-area-box-img {
    height: auto;
  }

  .dp-grid-cols-4-responsive {
    grid-template-columns: repeat(3, 1fr);
  }

  /* 이미지 그리드 */
  .img-grid-cols-3,
  .img-grid-cols-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  /* 이미지 리스트 */
  .img-grid-box-text {
    font-size: 14px;
    padding: 8px 16px;
  }
  /* img-box-position */
  .img-box-position > p {
    width: 100%;
  }

  /* useful-expressions */
  .useful-expressions {
    margin: 20px auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }

  /* form-list */
  .form-list {
    padding: 0;
  }

  /* 단어 목록 모바일 스타일 */
  .word-list-wrapper {
    flex-direction: column;
    gap: 15px;
  }

  .word-list-container {
    padding: 10px;
  }

  .word-list-item {
    padding: 6px;
  }

  .word-list-item.flex-direction-column {
    flex-direction: row;
    gap: 20px;
  }

  .word-list-term {
    flex: 4;
    font-size: 16px;
  }

  .word-list-definition {
    flex: 6;
    font-size: 16px;
  }

  .word-list-title > strong,
  .word-list-term > strong {
    font-size: 17px;
  }

  .left-list.word-list-column {
    border-right: none;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
  }

  /* 테이블 안 폰트사이즈 */
  .tb-normal th,
  .tb-normal td {
    font-size: 15px;
    padding: 14px;
  }

  /* toc-container */
  .toc-container {
    padding: 14px;
  }

  /* grammar-dict-example */
  .grammar-dict-example,
  .grammar-dict-example > span,
  .grammar-sentence-example,
  .grammar-sentence-example > span {
    font-size: 20px;
  }

  /* form-list-answer-img */
  .form-list-answer-img > li {
    flex-direction: column;
    gap: 10px;
  }

  .form-list-answer-img .img-area {
    margin: 0 auto;
  }

  /* 이미지 그리드 컬럼 옵션 반응형 */
  .img-grid-cols-3,
  .img-grid-cols-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .button_audio_text > button {
    width: 24px;
    height: 24px;
  }

  .title-icons {
    gap: 5px;
  }

  .title-main-wrapper.mgb-10 {
    margin-bottom: 8px;
  }

  .title-section.bg-blue {
    padding: 10px;
  }

  .draw-box {
    flex-direction: column;
    align-items: center;
  }

  .draw-box .left-content {
    text-align: center;
  }
  .draw-box .right-content {
    width: 100%;
    min-width: 100%;
  }

  .draw-box .bottom-box {
    width: 100%;
  }

  .draw-box .line-box {
    width: 51%;
  }

  .draw-box .text-content > div {
    font-size: 14px;
    text-align: center;
  }

  .draw-box .text-content > div > strong {
    font-size: 14px;
  }

  .draw-box .text-box {
    font-size: 14px;
    flex: 1;
  }

  .draw-box .text-box > strong {
    font-size: 14px;
  }

  .draw-box .left-content {
    font-size: 14px;
    width: 100%;
  }

  .draw-box .left-content > strong {
    font-size: 14px;
  }

  .pattern-example-box-content.h-34 {
    height: auto;
  }

  .write-box-wrapper.repeat-3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .write-box-wrapper.repeat-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .write-box-wrapper.repeat-2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .dp-wrap-wrap-responsive-768 {
    flex-wrap: wrap;
  }

  .speech-bubble2 {
    /* width: 30%; */
    padding: 10px;
  }
  .speech-bubble2 > p {
    font-size: 14px;
    padding: 10px;
  }

  .img-blank-figure {
    width: 100%;
  }

  .img-blank-content {
    flex-direction: column;
  }

  .img-blank-right {
    width: 100%;
  }

  .verb-example-wrapper-row {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .verb-example-wrapper-row:not(:last-child) {
    margin-bottom: 20px;
  }

  .verb-example-item > div {
    flex: unset;
  }

  .verb-example-item.center-content {
    justify-content: flex-start;
  }

  .verb-example-item.no-content {
    display: none;
  }
}

/* 모바일 디바이스 (~ 480px) */
@media screen and (max-width: 480px) {
  p,
  span,
  strong,
  div,
  td,
  th,
  em {
    font-size: 15px;
  }

  .img-w-auto-480 {
    width: auto;
  }

  .mg-0-auto-480 {
    margin: 0 auto;
  }

  .responsive-br-480 {
    display: none;
  }

  .mgb-00-responsive-480 {
    margin-bottom: 0;
  }

  .mgb-05-responsive-480 {
    margin-bottom: 5px;
  }

  .mgb-10-responsive-480 {
    margin-bottom: 10px;
  }

  .mgb-20-responsive-480 {
    margin-bottom: 20px;
  }

  .mgb-30-responsive-480 {
    margin-bottom: 30px;
  }

  .mgb-40-responsive-480 {
    margin-bottom: 40px;
  }

  .pd-20 {
    padding: 10px;
  }

  /* 이미지 그리드 */
  .img-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .break {
    display: block;
  }

  .speech-content {
    gap: 2px;
  }

  #content-sandbox {
    max-width: 100%;
    margin: 0 10px;
  }

  .title-main {
    padding: 8px 15px;
    display: inline-flex;
  }

  .title-sub {
    padding: 8px 10px;
  }

  .title-section {
    font-size: 16px;
  }

  .row-gap-05 {
    row-gap: 2px;
  }

  .responsive-gap-05 {
    gap: 5px;
  }

  .responsive-gap-10 {
    gap: 10px;
  }

  .responsive-gap-20 {
    gap: 20px;
  }

  .responsive-gap-30 {
    gap: 30px;
  }

  .responsive-gap-40 {
    gap: 40px;
  }

  /* Grid 스타일 수정 */
  .grid-text-box {
    flex-direction: column;
  }

  .grid-text-box.flex-direction-row-480 {
    flex-direction: row;
  }

  .grid-text-box.dp-justify-content-center {
    align-items: center;
  }
  .grid-text-box.dp-justify-content-end {
    align-items: end;
  }
  .grid-text-box.dp-justify-content-start {
    align-items: start;
  }

  .grid-row {
    align-items: start;
  }

  .grid-row-1fr-1fr {
    grid-template-columns: 1fr;
  }

  .dp-grid-cols-1fr-1fr {
    grid-template-columns: 1fr;
  }

  .grid-row-1fr-1fr-1fr {
    grid-template-columns: 1fr;
  }

  .grid-row-1fr-1fr-1fr.no-responsive-480 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .dp-grid-cols-1fr-22px-1fr {
    grid-template-columns: 1fr;
  }

  .dp-grid-cols-2 {
    grid-template-columns: 1fr;
  }

  .dp-grid-cols-1fr-22px-1fr.row-gap-05 {
    row-gap: 5px;
  }

  .dp-grid-cols-1fr-1fr.row-gap-05 {
    row-gap: 5px;
  }

  /* flex 스타일 수정 */
  .flex-style-normal .flex-row {
    flex-direction: column;
  }

  /* .dp-direction-row {
    flex-direction: row;
  } */

  /* responsive-row-gap-480 */
  .responsive-row-gap-00-480 {
    row-gap: 0;
  }

  .responsive-row-gap-05-480 {
    row-gap: 5px;
  }

  .responsive-row-gap-10-480 {
    row-gap: 10px;
  }

  .responsive-row-gap-20-480 {
    row-gap: 20px;
  }

  .responsive-row-gap-30-480 {
    row-gap: 30px;
  }

  .responsive-row-gap-40-480 {
    row-gap: 40px;
  }

  .responsive-row-gap-50-480 {
    row-gap: 50px;
  }

  .responsive-row-gap-60-480 {
    row-gap: 60px;
  }

  .responsive-row-gap-70-480 {
    row-gap: 70px;
  }

  .responsive-dp-direction-row-480 {
    flex-direction: column;
  }

  .responsive-dp-direction-row-reverse-480 {
    flex-direction: column-reverse;
  }

  .responsive-dp-direction-column-480 {
    flex-direction: row;
  }

  .responsive-dp-direction-column-reverse-480 {
    flex-direction: row-reverse;
  }

  .responsive-table-cell {
    padding: 10px;
  }

  .responsive-table-header {
    padding: 10px;
    font-size: 15px;
  }

  .responsive-table-content {
    font-size: 14px;
  }

  .responsive-table-v5 .responsive-table-cell {
    padding: 10px;
  }

  .responsive-table-v5 .responsive-table-content {
    font-size: 14px;
  }

  .dp-grid-cols-4-responsive {
    grid-template-columns: repeat(2, 1fr);
  }

  /* 이미지 그리드 반응형 */
  .img-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .img-grid-numb-type .numb {
    background-color: #47ad64;
    padding: 8px 10px;
    color: #fff;
  }

  .img-grid-numb-type-wrap {
    gap: 40px;
  }

  .img-grid-numb-type {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .img-grid-content {
    grid-template-columns: auto 1fr;
  }

  .img-box-position > p {
    width: 100%;
  }

  /* 스크립트 반응형 스타일 */
  .dialog-flex {
    padding: 5px;
    gap: 5px;
  }

  .dialog-name > p:first-child {
    min-width: 60px;
    font-size: 14px;
  }

  .dialog-content {
    min-width: 150px;
    font-size: 14px;
  }

  /* guided-box */
  .guided-box .numb_area > sup {
    font-size: 14px;
  }

  .guided-box .type_area {
    font-size: 15px;
  }

  .guided-box .type_area > span {
    font-size: 15px;
  }

  .guided-box .text-16 {
    font-size: 15px;
  }

  /* useful-expressions */
  .useful-expressions {
    width: 90%;
  }

  .useful-expressions .grid-row {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .useful-expressions2 ul li {
    flex-direction: column;
  }

  /* 테이블 안 폰트사이즈 */
  .tb-normal th,
  .tb-normal td {
    font-size: 14px;
    padding: 10px;
  }

  /* note-box */
  .note-box {
    padding: 14px;
  }

  /* pattern-cell */
  .pattern-cell {
    padding: 10px;
  }

  /* toc-container */
  .toc-container {
    padding: 10px;
  }

  /* grammar-dict-example */
  .grammar-dict-example,
  .grammar-dict-example > span,
  .grammar-sentence-example,
  .grammar-sentence-example > span {
    font-size: 18px;
  }

  .grammar-dots {
    display: none;
  }

  .word-list-title > strong,
  .word-list-term > strong {
    font-size: 16px;
  }

  .word-list-definition {
    font-size: 15px;
  }

  .title-section.bg-blue {
    padding: 6px 10px;
  }

  .img-box-position-text {
    padding: 5px 10px;
  }

  .grammar-rule-item {
    flex-direction: column;
  }

  .grammar-rule-description {
    flex: 1;
  }

  .grammar-rule-example-box.flex-02.dp-gap-00 {
    flex-direction: column;
  }

  .imgs-text-box .content-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .imgs-text-box .img-box {
    width: 100%;
  }
  .imgs-text-box .text-column {
    row-gap: 0px;
  }
  /* 
  .write-box-input {
    width: 80px;
    height: 80px;
  } */

  .write-box-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .write-box-wrapper.repeat-2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .write-box-wrapper.repeat-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .write-box-input input {
    font-size: 30px;
  }

  .write-box-input input::placeholder {
    font-size: 30px;
  }

  .speech-bubble2 {
    width: 50%;
    top: 0;
  }

  .speech-bubble2 > p {
    font-size: 12px;
    padding: 5px;
  }
}

/* 만화 말풍선 기본 설정 */
@media screen and (max-width: 375px) {
  :root {
    --font-size-base-small: 13px;
    --font-size-base-medium: 3vw;
    --font-size-base-large: 15px;

    --font-size-small-small: 10px;
    --font-size-small-medium: 1.8vw;
    --font-size-small-large: 12px;
  }
}

/* 태블릿 (375px ~ 456px) */
@media (min-width: 375px) and (max-width: 456px) {
  :root {
    --font-size-base-small: 14px;
    --font-size-base-medium: 3vw;
    --font-size-base-large: 16px;

    --font-size-small-small: 10px;
    --font-size-small-medium: 1.8vw;
    --font-size-small-large: 12px;
  }
}

/* 태블릿(456px ~ 480px) */
@media (min-width: 456px) and (max-width: 480px) {
  :root {
    --font-size-base-small: 16px;
    --font-size-base-medium: 2.8vw;
    --font-size-base-large: 20px;

    --font-size-small-small: 12px;
    --font-size-small-medium: 1.8vw;
    --font-size-small-large: 14px;
  }
}

/* 태블릿 (480px ~ 768px) */
@media (min-width: 480px) and (max-width: 650px) {
  :root {
    --font-size-base-small: 17px;
    --font-size-base-medium: 1.8vw;
    --font-size-base-large: 22px;

    --font-size-small-small: 14px;
    --font-size-small-medium: 1.8vw;
    --font-size-small-large: 16px;
  }
}

@media (min-width: 650px) and (max-width: 768px) {
  :root {
    --font-size-base-small: 20px;
    --font-size-base-medium: 1.8vw;
    --font-size-base-large: 24px;

    --font-size-small-small: 14px;
    --font-size-small-medium: 1.8vw;
    --font-size-small-large: 16px;
  }
}

/* 태블릿 (768px ~ 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    --font-size-base-small: 26px;
    --font-size-base-medium: 2vw;
    --font-size-base-large: 28px;

    --font-size-small-small: 16px;
    --font-size-small-medium: 1.2vw;
    --font-size-small-large: 18px;
  }
}

/* 데스크톱 (1024px 이상) */
@media (min-width: 1025px) {
  :root {
    --font-size-base-small: 30px;
    --font-size-base-medium: 2.2vw;
    --font-size-base-large: 32px;

    --font-size-small-small: 26px;
    --font-size-small-medium: 1.2vw;
    --font-size-small-large: 28px;
  }
}
