/* =============================================
   애니타임코리아 네비게이션 CSS
   ============================================= */
.anytimekorea-style-guide-nav {
  height: auto;
  min-height: 86px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  border-bottom: 2px solid rgb(51, 51, 51);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
}

/* 스크롤 관련 스타일 */
html {
  scroll-behavior: smooth;
}

.anytimekorea-style-guide-nav a {
  transition: color 0.3s ease;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  border: 2px solid #000;
  border-radius: 5px;
}

.anytimekorea-style-guide-nav a.active {
  color: blueviolet;
  font-weight: bold;
  border-color: blueviolet;
}

.anytimekorea-style-guide-title {
  position: relative;
  transition: all 0.3s ease;
  border: 3px solid blueviolet;
  padding: 10px;
  font-size: 28px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 30px;
  color: blueviolet;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.anytimekorea-style-guide-wrapper {
  overflow: hidden;
}

.anytimekorea-style-guide-content {
  padding-top: 20px;
}

.anytimekorea-style-guide-title-sub {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #333;
}

@media screen and (max-width: 768px) {
  .anytimekorea-style-guide-nav {
    height: auto;
    min-height: 120px;
  }
}

/* primary-color-box */
.primary-color-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.primary-color-box > p {
  display: flex;
  padding: 10px;
  width: calc(100% / 4 - 8px);
  height: 100px;
  align-items: center;
  justify-content: center;
}

.primary-color-white {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.primary-color-black {
  background-color: #000;
  color: #fff;
}

.primary-color-green {
  background-color: #23b24b;
  color: #fff;
}

.primary-color-blue {
  background-color: #009fdf;
  color: #fff;
}

.primary-color-blue-02 {
  background-color: #1890ff;
  color: #fff;
}

.primary-color-pink-light {
  background-color: #fcd9d3;
  color: #000;
}

.primary-color-pink-deep {
  background-color: #ef4d5f;
  color: #fff;
}

.primary-color-orange {
  background-color: #fec66a;
  color: #000;
}

.primary-color-brown {
  background-color: #b09071;
  color: #fff;
}

/* 탭 스타일 */
.anytimekorea-style-guide-section {
  display: none;
  position: relative;
}

.anytimekorea-style-guide-section.active {
  display: block;
}

/* 코드 복사 스타일 */
.code-copy {
  cursor: pointer;
  position: relative;
  border: 4px solid transparent;
  transition: opacity 0.3s;
}

.code-copy::after {
  display: inline-block;
  content: "클릭하여 코드 복사";
  position: absolute;
  top: -40px;
  right: 0;
  background: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 9999;
  text-align: center;
  width: 150px;
}

.code-copy:hover::after {
  opacity: 1;
}

.code-copy.copied::after {
  content: "코드가 복사되었습니다!";
  background: #23b24b;
}

.code-copy:hover {
  border: 4px solid rgb(98, 247, 93);
  box-sizing: border-box;
}
