@font-face {
  font-family: "KoPubWorldDotum";
  src: url("/assets/font/KoPubWorld/fonts/KoPubWorldDotumBold.woff2")
      format("woff2"),
    url("/assets/font/KoPubWorld/fonts/KoPubWorldDotumBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KoPubWorldDotum";
  src: url("/assets/font/KoPubWorld/fonts/KoPubWorldDotumLight.woff2")
      format("woff2"),
    url("/assets/font/KoPubWorld/fonts/KoPubWorldDotumLight.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KoPubWorldDotum";
  src: url("/assets/font/KoPubWorld/fonts/KoPubWorldDotumMedium.woff2")
      format("woff2"),
    url("/assets/font/KoPubWorld/fonts/KoPubWorldDotumMedium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KoPubWorldBatang";
  src: url("/assets/font/KoPubWorld/fonts/KoPubWorldBatangMedium.woff2")
      format("woff2"),
    url("/assets/font/KoPubWorld/fonts/KoPubWorldBatangMedium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KoPubWorldBatang";
  src: url("/assets/font/KoPubWorld/fonts/KoPubWorldBatangBold.woff2")
      format("woff2"),
    url("/assets/font/KoPubWorld/fonts/KoPubWorldBatangBold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KoPubWorldBatang";
  src: url("/assets/font/KoPubWorld/fonts/KoPubWorldBatangLight.woff2")
      format("woff2"),
    url("/assets/font/KoPubWorld/fonts/KoPubWorldBatangLight.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 폰트 패밀리 변수 정의 */
:root {
  --font-family-dotum: "KoPubWorldDotum", "Apple SD Gothic Neo", "Malgun Gothic",
    "맑은 고딕", sans-serif;
  --font-family-batang: "KoPubWorldBatang", "Apple SD Gothic Neo",
    "Malgun Gothic", "맑은 고딕", serif;
}
