* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body,
html {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  max-lines: 1;
  text-overflow: ellipsis;
}
p,
span,
strong {
  font-size: 16px;
  position: relative;
}
input:focus,
textarea:focus {
  outline: none;
}

/* div, p {padding:0.3rem 0.5rem;} */
img,
table {
  width: 100%;
  height: auto;
  border-spacing: 0;
}
table tr,
table td {
  border-spacing: 0;
}

hr {
  margin: 10px 0;
  border: 0;
  height: 1px;
}

/* heading */
h1,
h1 span {
  font-weight: 800;
  font-size: 20px;
}
h2,
h2 span {
  font-weight: 800;
  font-size: 18px;
}
h3,
h3 span {
  font-weight: 700;
}
h4,
h4 span {
  font-weight: 600;
}

h3 {
  margin: 2em 0 0.5em;
}
.h4_point {
  border-bottom: 2px solid #f7d033;
  padding: 0;
  margin-bottom: 10px;
}
.h4_point h4 {
  background-color: #f7d033;
  padding: 0.3rem 10px;
  width: fit-content;
}

/* color */
.pineapple_yellow {
  color: #f7d033;
}
.pineapple_green {
  color: #97c69b;
}
.pineapple_blue {
  color: #3396ff;
}

/*---- image */
.caption {
  text-align: center;
  font-size: 11pt;
  color: #999;
  padding: 0 0 0.5rem 0;
}

/*---- table */
table th,
table td {
  padding: 0.5rem;
  vertical-align: text-top;
}
table.border_none {
  border: none !important;
}
table.border_none th,
table.border_none td {
  border: none !important;
  padding: 0.2em;
}

table.border_brown {
  border: 1px solid #bdb19a !important;
}
table.border_brown th {
  background-color: #e6dcc7;
}
table.border_brown th,
table.border_brown td {
  border-bottom: 1px solid #bdb19a !important;
}

/* answer */
.answer {
}
.question {
  padding: 0;
}
.options {
  padding: 0;
}
.options p {
  padding: 5pt;
}
.options .numbering {
  color: #666;
  font-weight: 600;
  padding-left: 10px;
  margin-right: 5px;
}
.answer .textarea textarea {
  border: 1px solid #ddd;
  padding: 5pt;
  width: 100%;
  resize: none;
  min-height: 50px;
}
.answer .textarea textarea::placeholder {
  font-size: 13pt;
}

.answer input[id*="input_radio"] {
  display: none;
}
.answer input[id*="input_radio"] + label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.answer input[id*="input_radio"] + label > svg {
  display: none;
}
.answer input[id*="input_radio"] + label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  border: 2px solid #ddd;
  margin-right: 5px;
}
.answer input[id*="input_radio"]:checked + label > svg {
  display: block;
  position: absolute;
}
.answer input[id*="input_radio"]:checked + label > span {
  color: #3396ff;
}

/* formatting */
.alignment_l {
  text-align: left;
}
.alignment_r {
  text-align: right;
}
.alignment_c {
  text-align: center;
}
.bold {
  font-weight: 600;
}
.underline {
  text-decoration: underline;
}

/* option */
.footnote {
  position: absolute;
  top: -10pt;
  left: 0;
  font-size: 10pt;
  color: #3396ff;
}
.annotation {
  font-size: 12pt;
  padding: 0;
}
.annotation span,
.annotation strong {
  font-size: 12pt;
}
.background_image {
  background-size: cover;
  background-repeat: repeat-y;
  margin: 0.5rem 0;
}
/* .background_image div {font-weight: 700; font-size:13pt} */
.icon {
  margin-right: 5pt;
}
.icon img {
  width: 24px;
  height: 24px;
}
.audio {
  margin-left: 6pt;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  aspect-ratio: 1/1;
  background-color: transparent;
  margin-top: -2px;
}
.audio svg {
  width: 20px;
  height: 20px;
  fill: var(--theme-accent);
}
.audio svg path {
  fill: #f7d033;
}
.point {
  width: fit-content;
  font-size: 13pt;
  font-weight: 600;
  border-radius: 3px;
  padding: 0.2rem 0.3rem;
  margin-top: 0.5rem;
}

/* game */
input:focus,
input + label:focus {
  outline: none;
  background-color: transparent;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.one-container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.flip-card {
  perspective: 1000px;
  /* 3D 효과 */
  aspect-ratio: 5/3;
  width: 100%;
  padding: 0;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  position: relative;
  border-radius: 20px;
  padding: 0;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  border: 4px solid #f7d033;
  padding: 0;
}

.flip-card-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
}

.flip-card-front {
}

.flip-card-back {
  transform: rotateY(180deg);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.grid-select-card {
  width: 100%;
  padding: 0;
}

.grid-select-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
}

.grid-check + label {
  border: 4px solid #ccc;
  display: inline-block;
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.grid-check:checked + label {
  border: 4px solid #f7d033;
}

.multiple-container {
  display: grid;
  gap: 0.5rem;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.multiple-select-card {
  width: 100%;
  padding: 0;
}

.multiple-select-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  max-width: 80px;
  border-radius: 15px;
  padding: 0;
}

.multiple-check + label {
  border: 4px solid #ccc;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  padding: 10px 10px;
}

.multiple-check:checked + label {
  border: 4px solid #f7d033;
}

.multiple-container .numbering {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  width: 28px;
  height: 28px;
  font-size: 12px;
  border-radius: 100%;
  padding: 0;
}

.multiple-container .txt {
  flex-grow: 1;
  text-align: left;
  font-weight: 600;
}

.line-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

.game_problems,
.game_answers {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.game_problem,
.game_answer {
  padding: 10px;
  background-color: #fff;
  margin: 5px 0;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  /* 드래그 방지 */
  border-radius: 10px;
  font-weight: 600;
  flex-grow: 1;
}

.game_problem {
  border: 2px solid #97c69b;
}

.game_answer {
  border: 2px solid #f7d033;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* 뒤로 보냄 */
  width: 100%;
  height: 100%;
}

/* quiz */
.answer {
}
.question {
  padding: 0;
  margin-bottom: 10pt;
  display: flex;
  align-items: center;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 10pt;
}
.options p {
  padding: 5pt;
}
.options div {
  padding: 0;
}
.answer_blank .options > div {
  display: flex;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
  gap: 5px;
}
.options .numbering {
  color: #666;
  font-weight: 600;
  padding-left: 5px;
  margin-right: 5px;
}
.answer .textarea {
  padding: 0;
}
.answer .textarea textarea {
  background-color: #efefef;
  border: none;
  padding: 10pt;
  width: 100%;
  resize: none;
  min-height: 50px;
  border-radius: 5px;
}
.answer .textarea textarea::placeholder {
  font-size: 11pt;
  font-weight: 400;
  color: #999;
}

.answer input[id*="input_radio"] {
  display: none;
}
.answer input[id*="input_radio"] + label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.answer input[id*="input_radio"] + label > svg {
  display: none;
}
.answer input[id*="input_radio"] + label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  border: 2px solid #ddd;
  margin-right: 5px;
}
.answer input[id*="input_radio"]:checked + label > svg {
  display: block;
  position: absolute;
}
.answer input[id*="input_radio"]:checked + label > span {
  color: #3396ff;
  font-weight: 600;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  gap: 5pt;
}
.answer_txtarea {
  background-color: #efefef;
  display: inline-block;
  padding: 7pt !important;
  border-radius: 5px;
}
.answer_txtarea input {
  background: transparent;
  border: none;
  width: 100%;
}

.answer_txtarea input[type="text"] {
  font-size: 16px; /* 원하는 폰트 크기 */
  box-sizing: border-box;
  width: calc(1ch * 20);
}

.answer_txtarea input[size="1"] {
  width: calc(1ch * 3);
}
.answer_txtarea input[size="2"] {
  width: calc(1ch * 4);
}
.answer_txtarea input[size="3"] {
  width: calc(1ch * 5);
}
.answer_txtarea input[size]:not([size="1"]):not([size="2"]):not([size="3"]) {
  width: 200px; /* 넉넉한 기본값 설정 */
}

.answer,
.answer_blank {
  border: 3px dashed;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem 0;
}

.answer .answer_blank {
  border: none !important;
  margin: 0;
  padding: 0.3rem 0.5rem;
}

textarea::placeholder,
input[type="text"]::placeholder {
  font-size: 11pt;
  font-weight: 400;
  color: #999;
}

/* 테마 A - 대표컬러 green */
.themeA {
}
.themeA h1,
.themeA_h1 {
}
.themeA h2,
.themeA_h2 {
}
.themeA h3,
.themeA_h3 {
  background-color: #000 !important;
  color: #fff !important;
  border-radius: 10px;
  text-indent: 10px;
}
.themeA .answer,
.themeA_answer,
.themeA .answer_blank,
.themeA_answer_blank {
  border-color: #dfecd6;
}
.themeA .question,
.themeA_question {
  color: #97c69b;
}
.themeA .answer input[id*="input_radio"]:checked + label > span,
.themeA_answer input[id*="input_radio"]:checked + label > span {
  color: #97c69b;
  font-weight: 600;
}
.themeA .answer input[id*="input_radio"]:checked + label > svg path,
.themeA_answer input[id*="input_radio"]:checked + label > svg path {
  fill: #97c69b;
}
.themeA .bg_box,
.themeA_bg_box {
  background-color: #dfecd6 !important;
}
.themeA table,
.themeA_table {
  border: 1px solid #97c69b;
  border-collapse: collapse;
}
.themeA table td,
.themeA table th,
.themeA_table td,
.themeA_table th {
  border-bottom: 1px solid #97c69b;
}

.themeA .background_image,
.themeA_background_image {
  background-image: url(images/bg_note01.jpg);
}
.themeA .point,
.themeA_point {
  background-color: #97c69b;
}

/* 테마 B - 대표컬러 blue */
.themeB {
}
.themeB h1,
.themeB_h1 {
}
.themeB h2,
.themeB_h2 {
}
.themeB h3,
.themeB_h3 {
  background-color: #000 !important;
  color: #fff !important;
  border-radius: 10px;
  text-indent: 10px;
}
.themeB .answer,
.themeB_answer,
.themeB .answer_blank,
.themeB_answer_blank {
  border-color: #e0eefc;
}
.themeB .question,
.themeB_question {
  color: #3396ff;
}
.themeB .answer input[id*="input_radio"]:checked + label > span,
.themeB_answer input[id*="input_radio"]:checked + label > span {
  color: #3396ff;
  font-weight: 600;
}
.themeB .answer input[id*="input_radio"]:checked + label > svg path,
.themeB_answer input[id*="input_radio"]:checked + label > svg path {
  fill: #3396ff;
}
.themeB .bg_box,
.themeB_bg_box {
  background-color: #e0eefc !important;
}
.themeB table,
.themeB_table {
  border: 1px solid #3396ff;
  border-collapse: collapse;
}
.themeB table td,
.themeB table th,
.themeB_table td,
.themeB_table th {
  border-bottom: 1px solid #3396ff;
}

.themeB .game_problem,
.themeB_game_problem {
  border: 2px solid #91bfef;
}
.themeB .background_image,
.themeB_background_image {
  background-image: url(images/bg_note02.jpg);
}

.themeB .point,
.themeB_point {
  background-color: #3396ff;
  color: #fff;
}
